.logo{
  padding-top: 5px;
  padding-left: 0px;
  margin-left: -2px;
  padding-right: 9px;
  background: rgb(18,18,18);
  display: inline-block;
  z-index: 999;
}

.logo:hover{
  cursor: pointer;
}

.menu-logo{
  width:40px;
  height:40px;
}

.signin-logo{
  width:120px;
  height:120px;
  border-radius: 31px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-top: 80px;
  background: white;
}
.logo-text{
  color: rgb(26,26,26);
  font: 110px 'Josefin Sans';
  font-weight: 200;
  display: inline-block;
  margin-bottom: 8px;
  margin-left: 13px;
  vertical-align: bottom;
  letter-spacing: .5px;
}
.bold{
  font-weight: 300;
  margin-right: -12.0px;
}
.logo-container{
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
}
.inner-logo-container{
  position: relative;
  height: 100%;
  display: inline-block;
  background: rgb(28,128,210);
}
