.menu-bar{
  position: fixed;
  top: 0;
  left: 0;
  height:45px;
  background: rgb(19,19,19);
  text-align: left;
  width: calc(100% - 120px);
  overflow: visible;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 998;
}
.menu-bar .link{
  font-family: "Helvetica neue"
}
.left-menu{
  color: white;
  display: inline-block;
  vertical-align: bottom;
}
.left-menu > .link{
  font-size: 18px;
  font-weight: 100;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 34px;
  margin-right: 6px;
  letter-spacing: 1px;
}

.menu-bar .link:hover{
  cursor:pointer;
}
.right-menu{
  color: white;
  display: inline-block;
  vertical-align: bottom;
  float: right;
}
.right-menu > .link{
  font-size: 16px;
  font-weight: 100;
  display: inline-block;
  float: left;
  margin-top: 15px;
  margin-right: 38px;
  letter-spacing: 1px;
}

.account-nav-container{
  float: right;
  text-align: center;
  width: 45px;
  height: 45px;
  padding-left: 3px;
  padding-right: 0px;
}

.account-nav-container:hover{
}

.account-nav{
  display: inline-block;
  margin-top: 7px;
  margin-right: -10px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: white;
  overflow: hidden;
}
.account-nav img{
  width: 100%;
  height: auto;
}

.account-dropdown{
  display: none;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 9px;
  padding-bottom: 9px;
  position: fixed;
  top: 45px;
  right: 60px;
  background: black;
  text-align: left;
}

.dropdown-link{
  display: block;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
}
.link{
  color: white;
  text-decoration: none;
}

/*
.now-playing-icon{
  width:32px;
  height: 32px;
  margin-left: 0px;
  margin-bottom: 7px;
  padding-right: 8px;
  border-radius: 3px;
}
*/
