.menu-bar{
  position: fixed;
  top: 0;
  left: 0;
  height:45px;
  background: rgb(19,19,19);
  text-align: left;
  width: calc(100% - 120px);
  overflow: visible;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 998;
}
.menu-bar .link{
  font-family: "Raleway"
}
.left-menu{
  color: white;
  display: inline-block;
  vertical-align: bottom;
}
.left-menu > .link{
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 34px;
  margin-right: 6px;
  letter-spacing: 2px;
}

.menu-bar .link:hover{
  cursor:pointer;
}
.right-menu{
  color: white;
  display: inline-block;
  vertical-align: bottom;
  float: right;
}
.right-menu > .link{
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  float: left;
  margin-top: 17px;
  margin-right: 0px;
  letter-spacing: 2px;
}

.account-nav-container{
  float: right;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  height: 45px;
  padding-right: 0px;
  margin-left: 30px;
  margin-right: 9px;
}

.account-nav-container:hover{
}

.account-nav{
  display: inline-block;
  margin-top: 10px;
  margin-right: -10px;
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
}
.account-nav img{
  width: 100%;
  height: auto;
}

.account-dropdown{
  display: none;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 9px;
  padding-bottom: 9px;
  position: fixed;
  top: 45px;
  right: 60px;
  background: rgb(16,16,16);
  text-align: left;
}

.dropdown-link{
  display: block;
  font-size: 14px;
  color: white;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
}
.link{
  color: white;
  text-decoration: none;
}
.menu-icon{

  margin-left: 35px;
}

.search-icon{
  margin-top: -5px;
  width:23px;
}

.search-box{
  float: left;
  margin-top: 10px;
  height:23px;
  font-size: 12px;
  width:220px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 30px;
}

.upload-icon{
  margin-top: -10px;
  width:31px;
}
.search-icon{
  display: inline-block;
  vertical-align: top;
  float:left;
  margin-top: 12px;
  margin-left: -26px;
  width:21px;
}

.menu-username{
  display: inline-block;
  font: 13px "Raleway";
  vertical-align: top;
  margin-top: 15px;
  margin-right: 12px;
  letter-spacing: .5px;
}

.search-results{
  position: fixed;
  top:45px;
  right: 218px;
  width: 100%;
  max-width: 600px;
  max-height: 500px;
  overflow: scroll;
  color: white;
  font: 16px "Raleway";
  margin: auto;
  background: rgb(19,19,19);
  z-index: 99;
  padding: 20px;
  visibility: hidden;
}

.search-header{
  font-size: 30px;
}

.result{
  margin-top: 10px;
  padding-top: 4px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.result:hover{
  background: white;
  color:black;
}

.result-img img{
  position: relative;
  width: 100%;
}

.result-img{
  display: inline-block;
  position: relative;
  width: 36px;
  height: 36px;
  overflow: hidden;
}

.result-link{
  color: white;
  text-decoration: none;
}
.result-text{
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 8px;
}
.artist-img{
  border-radius: 18px;
}

/*
.now-playing-icon{
  width:32px;
  height: 32px;
  margin-left: 0px;
  margin-bottom: 7px;
  padding-right: 8px;
  border-radius: 3px;
}
*/
