.profile-panel{
  position: relative;
  margin-top: 45px;
  width: 100%;
  height: 380px;
  text-align: left;
  overflow: hidden;
}

.panel-shade{
  position: absolute;
  top:220px;
  width: 100%;
  height: 60%;
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7));
  z-index: 8;
}

.panel-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -10;
}

.panel-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
}

.profile-pic-container{
  width: 140px;
  height: 140px;
  display: inline-block;
  border-radius: 90px;
  overflow: hidden;
  box-shadow: 0 2px 6px 0px rgba(20,20,20,.4);
  line-height: 0px;
}

.profile-pic{
  display: block;
  width: 100%;
  height: auto;
  vertical-align: top;
}


.display-name{
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 6px;
  margin-left: 60px;
  color: white;
  font: 47pt "Raleway";
  font-weight: 100;
}

.artist-info{
  color: white;
  font: 14px "Helvetica neue";
  font-weight: 200;
}


.panel-follow-button{
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-top: -8px;
  margin-bottom: 8px;
  height: 34px;
  padding: 7px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font: 15px 'Raleway';
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
}
.not-following{
  background: rgb(19,19,19);
}
.following{
  background: blue;
}

.panel-follow-button:hover{
  background:rgb(75,0,170);
}
.button-contaier{
  float: right;
}

.panel-row{
  text-align: left;
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  z-index: 9
}

.profile-tabs{
  display: inline-block;
  position: relative;
  margin-top: 26px;
  margin-left: 60px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(218,218,218);
  width: calc(100% - 120px);
}

.profile-tab{
  font: 20px "Raleway";
  font-weight: 300;
  color: rgb(150,150,150);
  margin-right: 50px;
}

.selected-tab{
  font-weight: 900;
  color: rgb(26,26,26);
}



.artist-info{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 340px;
  min-height: 340px;
  margin-right: 0px;
  margin-top: 30px;
  padding-left: 20px;
  border-left: 1px solid rgb(218,218,218);
}

.artist-profpic{
  margin: 0;
}
.artist-profpic-container{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
  margin:0;
  margin-left:0px;
  vertical-align: top;
  margin-top: 0px;
  display: inline-block;
  background-size: cover;
}
