
.signup-form{
  position: relative;
  margin-left: 0px;
  width: 100%;
  text-align: center;
}
.signup-form input{
  margin-bottom: 24px;
  width: 270px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid rgb(218,218,218);
  font: 17px 'Raleway';
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.signup-form input:focus{
  border-color: rgb(50,20,220);
  outline: none;
}

.signin-button-container button{
  position: relative;
  display: inline-block;
  width:288px;
  height: 38px;
  border-radius: 3px;
  background: black;
  text-align: center;
  color: white;
  font: 17px 'Raleway';
}

.signin-button-container button:hover{
  background: rgb(50,20,220);
  cursor: pointer;
}

.signin-button-container{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.signin-background{
  width: 100%;
  height: 100vh;
  background: white;

}
/*
.signin-background{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.90);
  overflow: hidden;
} */
.background-video{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  z-index: -1;
}
.formSwitcher{
  width:100%;
  text-align: center;
  margin-bottom: 28px;
  font: 15px 'Raleway';
  color: rgb(100,100,100);
}
.formSwitcher a{
  font-size: 19px;
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
}
.formSwitcher a:hover{
  color:rgb(50,20,220);
  cursor: pointer;
}

.guest-message{
  margin-top: 16px;
  width: 100%;
  text-align: center;
  font: 14px 'Raleway';
  cursor: pointer;
}

.guest-message:hover{
  color: rgb(50,20,220);
}

.selected{
  color: black;
}
