// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: rgb(248,248,250);
}
.menu-bar{
  position: fixed;
  top: 0;
  left: 0;
  height:45px;
  background: rgb(26,26,26);
  text-align: left;
  width: 100%;
  overflow: hidden;
}

.left-menu{
  color: white;
  display: inline-block;
  vertical-align: bottom;
}
.left-menu a{
  margin-bottom: 15px;
  margin-left: 34px;
  margin-right: 6px;
  letter-spacing: 1px;
}
.menu-bar a{
  font: 16px "Helvetica";
  font-weight: 500;
  display: inline-block;
}
.menu-bar a:hover{
  cursor:pointer;
}
.right-menu{
  color: white;
  display: inline-block;
  vertical-align: bottom;
  float: right;
  margin-right: 60px;
}
.right-menu a{
  float: left;
  margin-top: 15px;
  margin-right: 38px;
  letter-spacing: 1px;
}

.account-nav-container{
  float: right;
  text-align: center;
  width: 45px;
  height: 45px;
  padding-left: 3px;
  padding-right: 4px;
}
.account-nav-container:hover{
  cursor: pointer;
}

.account-nav{
  display: inline-block;
  margin-top: 6px;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: white;
  overflow: hidden;
}
.account-nav img{
  width: 100%;
  height: auto;
}
.logo{
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 9px;
  background: rgb(28,128,180);
  display: inline-block;
  z-index: 999;
}

.logo:hover{
  cursor: pointer;
}

.menu-logo{
  width:40px;
  height:40px;
  margin-left: 60px;
}

.signin-logo{
  width:120px;
  height:120px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 21px;
  margin-left: 0px;
  margin-top: 80px;
}
.logo-text{
  color: rgb(26,26,26);
  font: 80px 'helvetica neue';
  font-weight: 200;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 13px;
  vertical-align: bottom;
  letter-spacing: 0.5px;
}
.bold{
  font-weight: 900;
}
.logo-container{
  width: 100%;
  text-align: center;
  margin-bottom: 34px;
}
.signup-form{
  position: relative;
  margin-left: 0px;
  width: 100%;
  text-align: center;
}
.signup-form input{
  margin-bottom: 24px;
  width: 270px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid rgb(218,218,218);
  font: 17px 'Helvetica neue';
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.signup-form input:focus{
  border-color: rgb(28,128,250);
  outline: none;
}

.signin-button-container button{
  position: relative;
  display: inline-block;
  width:288px;
  height: 38px;
  border-radius: 4px;
  background: rgb(40,205,125);
  text-align: center;
  color: white;
  font: 17px 'Helvetica neue';
}

.signin-button-container{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

.signin-background{
  width: 100%;
  height: 100vh;
  background: rgb(248,248,250);

}
/*
.signin-background{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.90);
  overflow: hidden;
} */
.background-video{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: auto;
  z-index: -1;
}
.formSwitcher{
  width:100%;
  text-align: center;
  margin-bottom: 28px;
  font: 15px 'Helvetica neue';
  color: rgb(100,100,100);
}
.formSwitcher a{
  font-size: 19px;
  font-weight: 500;
  margin-left: 12px;
  margin-right: 12px;
}
.formSwitcher a:hover{
  color:rgb(28,128,250);
  cursor: pointer;
}

/* stream */
.stream{
  width: calc(100% - 120px);
  padding: 60px;
  margin-top: 30px;
}

/* track */
.track-art{
  width: 180px;
  height: 180px;
  background: black;
  border: 0;
}
.track{
  margin-bottom: 30px;
  width: 100%;
}
.track-right{
  padding-top: 20px;
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
}

.track-title{
  font: 27px "Helvetica neue";
  font-weight: 600;
  color: rgb(56,56,56);
}

.track-artist{
  font: 16px "Helvetica neue";
  font-weight: 400;
  color: rgb(126,126,126);
}
.play-bar{
  margin-top: 14px;
  margin-left: -4px;
}
.play-button{
  width:38px;
  height: 38px;
  background: url('/play.png');
  background-size: contain;
}
.play-button:hover{
  cursor:pointer;
}
.like-and-comments{
  display: relative;
  width: 100%;
  margin-top: 8px;
  margin-left: -2px;
}
.like-button{
  width:30px;
  height: 28px;
  background: url('/hearts_filled.png');
  background-size: contain;
  margin-right: 58px;
  vertical-align: bottom;
  margin-bottom: 1px
}
.like-counter{

}
.comment-input{
  float: right;
  height: 20px;
  width: 200px;
  border: 1px solid rgb(218,218,218);
  font: 14px 'Helvetica neue';
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: bottom;
  margin-right: 14px;
  border-radius: 3px;
}
.comment-input:focus{
  outline: none;
}
.comment-button{
  float: right;
  width:25px;
  height: 25px;
  margin-right: 10px;
  background: url('/comments_filled.png');
  background-size: contain;
  vertical-align: bottom;
}
.comment-counter{

}
