// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: rgb(248,248,250);
}

.standard-input{
  border-radius: 2px;
  border: 1px solid rgb(218,218,218);
  font: 14px 'Helvetica neue';
  resize: none;
}
.standard-input:focus{
  outline:none;
  border-color: rgb(28,128,250);
}

/* stream */
.stream{
  width: calc(100% - 120px);
  padding: 60px;
  margin-top: 30px;
}

/* track */


.full-width{
  width: 100%;
}

.none{
  display:none;
}

.center-text{
  text-align: center;
}
