// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.track-art{
  width: 180px;
  height: 180px;
  background: black;
  border: 0;
  cursor: pointer;
}
.track{
  margin-bottom: 30px;
  width: 100%;
}
.track-right{
  width: calc(100% - 200px);
  padding-top: 18px;
  margin-left: 20px;
  vertical-align: top;
  display: inline-block;
}

.track-title{
  font: 39px "Raleway";
  font-weight: 300;
  color: rgb(16,16,16);
  cursor: pointer;
}

.track-artist{
  font: 16px "Raleway";
  font-weight: 400;
  color: rgb(126,126,126);
}
.track-artist:hover{
  cursor:pointer;
}
.play-bar{
  width: 100%;
  margin-top: 14px;
  margin-left: -5px;
}
.play-button{
  display: inline-block;
  width:40px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}
.play-button:hover{
  cursor:pointer;
}
.play-image{
  background: url('/play.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.pause-image{
  background: url('/pause.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.like-and-comments{
  display: relative;
  width: 100%;
  margin-top: 8px;
  margin-left: -2px;
}
.like-button{
  width: 19px;
  height: 19px;
  background: url('/like_filled.png');
  margin-top: 6px;
}
.save-button{
  width: 27px;
  height: 27px;
  background: url('/plus.png');
  margin-top: 3px;
}
.comment-button{
  width: 18px;
  height: 18px;
  background: url('/comment_filled.png');
  margin-top: 7px;
}
.retrack-button{
  width: 20px;
  height: 20px;
  background: url('/retrack_filled.png');
  margin-top: 7px;
}



.right-control{
  float: right;
  background-size: contain;
  vertical-align: bottom;
  margin-left: 17px;
  filter: opacity(40%);
}
.right-control{
  cursor: pointer;
}
.right-controls-container{
  margin-top: 6px;
  float: right;
}
.like-button:hover{
  background: url('/like_filled_red.png');
  background-size: contain;
  filter: opacity(100%);
}
.liked{
  width: 19px;
  height: 19px;
  background: url('/like_filled_red.png');
  background-size: contain;
  filter: opacity(100%);
}
.retrack-button:hover{
  background: url('/retrack_blue.png');
  background-size: contain;
  filter: opacity(100%);
}

.retracked{
  background: url('/retrack_blue.png');
  background-size: contain;
  filter: opacity(100%);
}

.like-counter{

}

.comment-input{
  float: right;
  height: 20px;
  width: 200px;
  border: 1px solid rgb(218,218,218);
  font: 14px 'Helvetica neue';
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: bottom;
  margin-right: 14px;
  border-radius: 3px;
}
.comment-input:focus{
  outline: none;
}
/*
.comment-button{
  float: right;
  width:25px;
  height: 25px;
  margin-right: 10px;
  background: url('/comments_filled.png');
  background-size: contain;
  vertical-align: bottom;
} */
.comment-counter{

}

.controls{
  width: 100%;
}

.outer-play-bar{
  position: relative;
  display: block;
  border-radius: 0px;
  margin-top: 14px;
  margin-left: 5px;
  width: calc(100% - 5px);
  height:7px;
  background: rgb(216,216,216);
  cursor: pointer;
}

.inner-play-bar{
  display: block;
  height: 100%;
  width: 0px;
  background: black;
  visibility: inherit;
}

.track-panel{
  margin-top: 45px;
  background: white;
  width: calc(100% - 120px);
  height: 400px;
  margin-left: 60px;
  margin-right: 60px;
  border-bottom: 1px solid rgb(218,218,218);
}

.track-panel-art{
  float: right;
  margin-top: 20px;
  display: inline-block;
  width: 360px;
  height: 360px;
}

.track-panel-title{
  display: inline-block;
  font: 70px 'Raleway';
  font-weight: 200;
  margin-top: 100px;
}

.track-panel-artist{
  display: inline-block;
  font: 28px 'Raleway';
  font-weight: 400;
  margin-left: 3px;
  color: rgb(126,126,126);
}
.track-panel-artist:hover{
  cursor: pointer;
}
.left-panel{
  width: calc(100% - 380px);
  display: inline-block;
}

.panel-right-controls-container{
  margin-top: 50px;
  vertical-align: bottom;
}

.panel-play-button{
  float: left;
  display: inline-block;
  width:60px;
  height: 48px;
  margin-top: -20px;
  margin-left: -4px;

  vertical-align: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.panel-play-button:hover{
    cursor: pointer;
}

.comments-page{
  width: 100%;
  max-width: 560px;
  height: 100px;
  margin-left: 60px;
  margin-top: 20px;
}


.new-comment{
  width: calc(100% - 20px);
  height: 18px;
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  border: 1px solid rgb(218,218,218);
  font: 15px 'Raleway';
  font-weight: 500;
  outline: none;
  padding: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  resize: none;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.new-comment:focus{
  border: 1px solid rgb(50,20,220);
}

.comment-icon{
  width: 36px;
  height: 36px;
  border-radius: 18px;
  overflow: hidden;
  display: inline-block;
}

.comment{
  width: 100%;
  margin-bottom: 20px;
}
.comment p{
  overflow: hidden;
  width: calc(100% - 56px);
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font: 15px 'Raleway';
  font-weight: 500;
}
.comment img{
  vertical-align: top;
}
